{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Склад продуктів харчування{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Warehouse Management System</h1>
        {% include 'partials/menu.html' %}
    </header>

    {% include 'partials/message.html' %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Bosco Warehouse System</p>
    </footer>
</body>
</html>